@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+3:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
}

a,
p {
    font-family: 'Source Sans 3', sans-serif;
}

a {
    text-decoration: none !important;
}

.heading-hero {
    font-size: 48px;
    margin-bottom: 20px;
}

.paragraph-hero {
    margin-bottom: 40px;
}

.cta-btn {
    border: 1px solid #000000;
    padding: 10px 25px;
    color: black;
    border-radius: 50px;
}

.navbar-background {
    background-color: rgb(255 255 255 / 89%);
    transition: .3s ease-in;
}

.navbar-pc {
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transition: .3s ease-in;

    .container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;

        .navbar-links-pc {
            display: flex;
            align-items: center;

            .navbar-btn {
                font-size: 18px;
                color: #000000;
                font-family: inherit;
                font-weight: 700;
                position: relative;
                border: none;
                background: none;
                transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                transition-duration: 400ms;
                transition-property: color;

                &:focus:after,
                &:hover:after {
                    width: 100%;
                    left: 0%;
                }

                &:after {
                    content: "";
                    pointer-events: none;
                    bottom: -2px;
                    left: 50%;
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: #000000;
                    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition-duration: 400ms;
                    transition-property: width, left;
                }
            }


            a {
                margin: 0px 20px;
                color: #000000;
                font-weight: 700;
            }
        }
    }
}

.img-animation {
    transform-origin: center center;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.img-container {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    z-index: 2;
    opacity: 1;
    position: relative;
    overflow: hidden;
    min-height: 650px;

    &:hover>img {
        animation: loop 2s infinite alternate-reverse forwards;
    }
}

@keyframes loop {
    0% {
        transform: rotate(-30deg) scale(1.8);


    }

    100% {
        transform: rotate(0) scale(1);
    }
}


.contact {
    position: relative;
    height: 70vh;

    .txt-container {
        margin-left: 50px;
    }

    img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    h1 {
        font-size: 64px;
    }
}

.whatido {
    margin-top: 70px !important;
    margin-bottom: 100px;

    .icon-container {
        margin-top: 100px;

        .icon {
            margin-bottom: 30px;
        }
    }
}

.contact-icon-container {
    text-align: end;
    margin-right: 30px;

    .icon-container {
        margin: 20px 0px;

        .icons {
            svg {
                color: #000000;
                transition: .3s ease;

                &:hover {
                    color: #a730f8;

                }
            }
        }
    }
}

.projects {
    margin-bottom: 100px;

    .title {
        margin-bottom: 50px;
    }

    .project-card {
        position: relative;

        img {
            height: 100%;
            object-fit: cover;
            position: relative;
            width: 100%;
            z-index: -1;
        }

        .card-text {
            transition: .3s ease;
            position: absolute;
            bottom: 0;
            padding-left: 20px;
            background-color: #000000af;
            left: 0;
            right: 0;
            margin: 0px 12px;
            padding-bottom: 30px;

            h3 {
                color: #fff;
            }

            p {
                color: #fff;
            }

            .links {
                .icons {
                    margin-right: 10px;
                    color: #fff;
                    transition: .3s ease;
                    &:hover {
                        color: #a730f8;
                        transition: .3s ease;
                    }
                }
            }
        }
    }
}