@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+3:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
}

a,
p {
    font-family: 'Source Sans 3', sans-serif;
}

a {
    text-decoration: none !important;
}

.heading-hero {
    font-size: 48px;
    margin-bottom: 20px;
    @media (max-width: 767.98px) {
        font-size: 32px;
    }
}

.paragraph-hero {
    margin-bottom: 40px;
}

.cta-btn {
    border: 1px solid #000000;
    padding: 10px 25px;
    color: black;
    border-radius: 50px;
}

.navbar-background {
    background-color: rgb(255 255 255 / 89%);
    transition: .3s ease-in;
}

.navbar-pc {
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transition: .3s ease-in;

    .container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;

        .navbar-links-pc {
            display: flex;
            align-items: center;

            .navbar-btn {
                font-size: 18px;
                color: #000000;
                font-family: inherit;
                font-weight: 700;
                position: relative;
                border: none;
                background: none;
                transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                transition-duration: 400ms;
                transition-property: color;

                &:focus:after,
                &:hover:after {
                    width: 100%;
                    left: 0%;
                }

                &:after {
                    content: "";
                    pointer-events: none;
                    bottom: -2px;
                    left: 50%;
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: #000000;
                    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition-duration: 400ms;
                    transition-property: width, left;
                }
            }


            a {
                margin: 0px 20px;
                color: #000000;
                font-weight: 700;
            }
        }
    }
}

.img-animation {
    transform-origin: center center;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.img-container {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    z-index: 2;
    opacity: 1;
    position: relative;
    overflow: hidden;
    min-height: 650px;

    @media (max-width: 767.98px) {
        min-height: 280px;

    }

    &:hover>img {
        animation: loop 2s infinite alternate-reverse forwards;
    }
}

@keyframes loop {
    0% {
        transform: rotate(-30deg) scale(1.8);


    }

    100% {
        transform: rotate(0) scale(1);
    }
}


.contact {
    position: relative;
    height: 70vh;

    .txt-container {
        padding: 0px 36px 0px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 767.98px) {
        display: block;
        height: 45vh;
        .txt-container {
            flex-direction: column;
            justify-content: center;
            margin: 0px!important;
            padding: 30px 20px 30px 20px;
            h1 {
                font-size: 32px;
            }
        }
    }


    img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        @media (max-width: 767.98px) {
            padding: 0px;
        }
    }

    h1 {
        font-size: 64px;
    }
}

.whatido {
    margin-top: 70px !important;
    margin-bottom: 100px;

    @media (max-width: 767.98px) {
        margin-bottom: 10px;
    }

    .icon-container {
        margin-top: 100px;

        .icon {
            margin-bottom: 30px;
        }
    }
}

.contact-icon-container {
    text-align: end;
    margin-right: 30px;
    display: block;

    @media (max-width: 767.98px) {
        display: flex;
        margin-right: 0px;

        .icon-container {
            margin-right: 30px !important;
        }
    }

    .icon-container {
        margin: 20px 0px;

        .icons {
            svg {
                color: #000000;
                transition: .3s ease;

                &:hover {
                    color: #a730f8;

                }
            }
        }
    }
}

.projects {
    margin-bottom: 100px;

    @media (max-width: 767.98px) {
        margin-bottom: 10px;
    }

    .title {
        margin-bottom: 50px;
    }

    .project-card {
        position: relative;

        @media (max-width: 767.98px) {
            margin-bottom: 30px;
        }

        img {
            height: 100%;
            object-fit: cover;
            position: relative;
            width: 100%;
            z-index: -1;
        }

        .card-text {
            transition: 3s ease;
            position: absolute;
            bottom: 0;
            padding-left: 20px;
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            left: 0;
            right: 0;
            margin: 0px 12px;
            padding-bottom: 30px;

            h3,
            h4,
            h5 {
                color: #fff;
            }

            p {
                color: #fff;
            }

            .links {
                .icons {
                    margin-right: 10px;
                    color: #fff;
                    transition: .3s ease;

                    &:hover {
                        color: #a730f8;
                        transition: .3s ease;
                    }
                }
            }
        }
    }
}

.hero-header {

    @media (max-width: 767.98px) {
        .main-info {
            margin-bottom: 50px;
            margin-top: 20px;
        }
    }
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: relative;
    z-index: 2;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.navbar-links-mo {
    display: none;

    @media (max-width: 767.98px) {
        display: block;
    }

    .links-mo {
        position: absolute;
        right: 0;
        display: grid;
        top: 0;
        padding: 125px 50px 30px 50px;
        text-align: end;
        background-color: #fff;
        box-shadow: 5px 5px 25px #00000047;
        .navbar-mo-btn {
            margin-bottom: 30px;
            color: #000000;
            h2 {
                font-size: 38px;
            }
        }
    }
}